.error {
  &__status {
    font-size: 80px;
    font-weight: bold;
    text-shadow: 0 4px 4px rgba($c-black, 0.25);
    margin-bottom: spacing(3);
  }

  &__description {
    margin-bottom: spacing(15);
  }

  &__link {
    font-size: 14px;
  }
}
