.link {
  color: $c-primary;
  transition: color $transition;

  &:hover {
    color: color.adjust($c-primary, $lightness: 8%);
  }

  &--danger {
    color: $c-danger;

    &:hover {
      color: color.adjust($c-danger, $lightness: 8%);
    }
  }
}
