.link {
  color: $c-primary;
  transition: color $transition;

  &:hover {
    color: lighten($c-primary, 8%);
  }

  &--danger {
    color: $c-danger;

    &:hover {
      color: lighten($c-danger, 8%);
    }
  }
}
