@import "../../styles/vars";

.chat-list {
  display: flex;
  flex-direction: column;
  width: 310px;
  background-color: $c-background;
  border-right: 1px solid $c-border;
  max-height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-text-secondary;
    border-radius: 9em;
  }

  &__header {
    border-bottom: 1px solid $c-border;
    padding: spacing(2);
    text-align: right;
  }

  &__link {
    color: $c-text-secondary;
    cursor: pointer;
    font-size: 12px;
    padding: spacing(1);
  }
}
