@import "../../styles/vars.scss";

.chat-list {
  display: flex;
  flex-direction: column;
  width: 310px;
  background-color: $c-background;
  border-right: 1px solid $c-border;
  max-height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-text-secondary;
    border-radius: 9em;
  }
}
