
.chat-list
  .chat-list__header
    div(data-component='addButton')
    span.chat-list__link(onclick=`onLinkClickToProfile(${JSON.stringify('/profile')});`) Профиль >
  if chats
    each chat in chats
      div(data-component='chats')
  div(data-component='modal')