.layout.layout--column.profile
	.profile__avatar(data-component="avatar")
	.profile__name(data-component="name")
	div(data-component="infoBlockData")
	div(data-component="infoBlockAction")
	div(data-component="modal")
