body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $c-text-primary;
}

h2 {
  font-size: 20px;
  line-height: 1.1;
}

h3 {
  font-size: 16px;
  line-height: 1.1;
}

.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 99vh;
}

.fields-group {
  display: flex;
  flex-direction: column;

  &__btn {
    margin-top: spacing(15);
  }
}

.pages-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;

  a {
    padding: 5px;
    margin-bottom: 10px;
  }
}

.develop {
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__description {
    margin: spacing(7) 0;
  }
}
