// Colors
$c-black: #000;
$c-white: #fff;
$c-primary: #3369f3;
$c-danger: #ff2f2f;
$c-border: #eaeaea;
$c-background: #fbfbfb;
$c-background-message: #f8f8f8;
$c-blue-light: #e4edfd;

// Text
$c-text-primary: #1e1e1e;
$c-text-secondary: #999;

// Transition
$transition-duration: 0.5s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;

@function spacing($multiplier) {
  @return #{4 * $multiplier}px;
}
