form.card(
	class=isModal ? "card--modal" : "",
	enctype=hasFile ? "multipart/form-data" : ""
)
	.card__title(data-component="title")
	.card__fields
		if fields
			each field in fields
				div(data-component="fields")

	div(data-component="button")

	if link
		.card__link(data-component="link")
