---
title: "Страница не найдена"
stylesheet: '../styles/main.scss'
status: 404
description: Не туда попали
---

{{#extend "page"}}
  {{#content "main"}}
    <main>
      {{> error status=status description=description }}
    </main>
  {{/content}}
{{/extend}}