---
title: "Ошибка"
stylesheet: '../styles/main.scss'
status: 500
description: Мы уже фиксим
---

{{#extend "page"}}
  {{#content "main"}}
    <main>
      {{> error status=status description=description }}
    </main>
  {{/content}}
{{/extend}}