---
fields: [
  {
    label: "Логин",
    name: "login"
  },
  {
    label: "Пароль",
    name: "password",
    type: "password"
  }
]
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messenger</title>
    {{> fonts}}
    <link rel="stylesheet" href="../main.scss">
  </head>
  <body>
    <div class="card-wrapper">
      <div class="card">
        <h2 class="card__title">Вход</h2>
        {{#each fields}}
          {{> input this }}
        {{/each}}

        {{> button text="Войти" class="card__btn" }}
        <a href="./registration.hbs" class="link card__link">Нет аккаунта?</a>
      </div>
    </div>
  </body>
</html>
