---
title: "Авторизация"
stylesheet: '../styles/main.scss'
fields: [
  {
    label: "Логин",
    name: "login"
  },
  {
    label: "Пароль",
    name: "password",
    type: "password"
  }
]
---

{{#extend "page"}}
  {{#content "main"}}
    <main class="layout">
      {{> card fields=fields cardTitle="Вход" buttonText="Войти" link="./registration.hbs" linkText="Нет аккаунта?" }}
    </main>
  {{/content}}
{{/extend}}
