---
title: "Авторизация"
stylesheet: '../styles/main.scss'
fields: [
  {
    label: "Логин",
    name: "login"
  },
  {
    label: "Пароль",
    name: "password",
    type: "password"
  }
]
---

{{#extend "page"}}
  {{#content "main"}}
    <main class="layout">
      <div class="card">
        <h2 class="card__title">Вход</h2>
        {{#each fields}}
          {{> input this }}
        {{/each}}

        {{> button text="Войти" class="card__btn" }}
        <a href="./registration.hbs" class="link card__link">Нет аккаунта?</a>
      </div>
    </main>
  {{/content}}
{{/extend}}
