extends ../layouts/page.pug
include ../components/card.pug

block append head 
  link(rel="stylesheet", href="../styles/main.scss")
  title Авторизация

block main
  - const cardTitle = "Вход"
  - const buttonText = "Войти"
  - const link = "./registration.pug"
  - const linkText = "Нет аккаунта?"
  - 
    const fields = [
      {
        label: "Логин",
        name: "login"
      },
      {
        label: "Пароль",
        name: "password",
        type: "password"
      }
    ]

  main.layout
    +card(cardTitle, fields, buttonText, link, linkText)