extends ../layouts/page.pug
include ../components/card.pug

block append head 
  link(rel="stylesheet", href="../styles/main.scss")
  title Редактирование профиля

block main
  - const cardTitle = "Редактирование профиля"
  - const buttonText = "Сохранить"
  - 
    const fields = [
      {
        label: "Имя",
        name: "first_name",
        value: "Иван"
      },
      {
        label: "Фамилия",
        name: "second_name",
        value: "Иванов"
      },
      {
        label: "Имя в чате",
        name: "display_name",
        value: "Ванюша"
      },
      {
        label: "Логин",
        name: "login",
        value: "ivanivanov"
      },
      {
        label: "Почта",
        name: "email",
        type: "email",
        value: "pochta@yandex.ru"
      },
      {
        label: "Телефон",
        name: "phone",
        type: "tel",
        value: "+7(909)9673030"
      },
    ]
    
  main.layout
    +card(cardTitle, fields, buttonText, link, linkText)