---
title: "Профиль"
stylesheet: '../styles/main.scss'
name: "Иван"
avatarUrl: "../static/avatar.svg"
fields: [
  {
    label: "Имя",
    name: "first_name",
    value: "Иван"
  },
  {
    label: "Фамилия",
    name: "second_name",
    value: "Иванов"
  },
  {
    label: "Имя в чате",
    name: "display_name",
    value: "Ванюша"
  },
  {
    label: "Логин",
    name: "login",
    value: "ivanivanov"
  },
  {
    label: "Почта",
    name: "email",
    value: "pochta@yandex.ru"
  },
  {
    label: "Телефон",
    name: "phone",
    value: "+7 (909) 967 30 30"
  },
]
---

{{#extend "page"}}
  {{#content "main"}}
    <main class="profile layout layout--column">
      <div class="profile__avatar" style="background-image: url('{{ avatarUrl }}')"></div>
      <h3 class="profile__name">{{ name }}</h3>
      <div class="info-block">
        {{#each fields}}
          {{> info this }}
        {{/each}}
      </div>
      <div class="info-block">
        {{> info link="./profile-edit.hbs" label="Изменить данные" }}
        {{> info link="./profile-change-password.hbs" label="Изменить пароль" }}
        {{> info link="../index.hbs" label="Выйти" danger=true }}
      </div>
    </main>
  {{/content}}
{{/extend}}