---
title: "Редактирование профиля"
stylesheet: '../styles/main.scss'
fields: [
  {
    label: "Имя",
    name: "first_name",
    value: "Иван"
  },
  {
    label: "Фамилия",
    name: "second_name",
    value: "Иванов"
  },
  {
    label: "Имя в чате",
    name: "display_name",
    value: "Ванюша"
  },
  {
    label: "Логин",
    name: "login",
    value: "ivanivanov"
  },
  {
    label: "Почта",
    name: "email",
    type: "email",
    value: "pochta@yandex.ru"
  },
  {
    label: "Телефон",
    name: "phone",
    type: "tel",
    value: "+7(909)9673030"
  },
]
---

{{#extend "page"}}
  {{#content "main"}}
    <main  class="layout">
      <div class="fields-group">
        {{#each fields}}
          {{> input this }}
        {{/each}}
        {{> button text="Сохранить" class="fields-group__btn"}}
      </div>
    </main>
  {{/content}}
{{/extend}}