---
title: "Смена пароля"
stylesheet: '../styles/main.scss'
fields: [
  {
    label: "Старый пароль",
    name: "oldPassword",
    type: "password"
  },
  {
    label: "Новый пароль",
    name: "newPassword",
    type: "password"
  },
  {
    label: "Повторите новый пароль",
    name: "repeatPassword",
    type: "password"
  },
]
---

{{#extend "page"}}
  {{#content "main"}}
    <main class="layout">
      {{> card fields=fields cardTitle="Смена пароля" buttonText="Сохранить" }}
    </main>
  {{/content}}
{{/extend}}