---
title: "Смена пароля"
stylesheet: '../styles/main.scss'
fields: [
  {
    label: "Старый пароль",
    name: "oldPassword",
    type: "password"
  },
  {
    label: "Новый пароль",
    name: "newPassword",
    type: "password"
  },
  {
    label: "Повторите новый пароль",
    name: "repeatPassword",
    type: "password"
  },
]
---

{{#extend "page"}}
  {{#content "main"}}
    <main class="layout">
      <div class="fields-group">
        {{#each fields}}
          {{> input this }}
        {{/each}}
        {{> button text="Сохранить" class="fields-group__btn"}}
      </div>
    </main>
  {{/content}}
{{/extend}}