extends ../layouts/page.pug
include ../components/card.pug

block append head 
  link(rel="stylesheet", href="../styles/main.scss")
  title Смена пароля

block main
  - const cardTitle = "Смена пароля"
  - const buttonText = "Сохранить"
  - 
    const fields = [
      {
        label: "Старый пароль",
        name: "oldPassword",
        type: "password"
      },
      {
        label: "Новый пароль",
        name: "newPassword",
        type: "password"
      },
      {
        label: "Повторите новый пароль",
        name: "repeatPassword",
        type: "password"
      },
    ]
    
  main.layout
    +card(cardTitle, fields, buttonText, link, linkText)