---
title: "Регистрация"
stylesheet: '../styles/main.scss'
fields: [
  {
    label: "Имя",
    name: "first_name"
  },
  {
    label: "Фамилия",
    name: "second_name"
  },
  {
    label: "Логин",
    name: "login"
  },
  {
    label: "Почта",
    name: "email",
    type: "email"
  },
  {
    label: "Телефон",
    name: "phone",
    type: "tel"
  },
  {
    label: "Пароль",
    name: "password",
    type: "password"
  },
  {
    label: "Пароль (ещё раз)",
    name: "repeatPassword",
    type: "password"
  },
]
---

{{#extend "page"}}
  {{#content "main"}}
    <main class="layout">
      {{> card fields=fields cardTitle="Регистрация" buttonText="Зарегистрироваться" link="./auth.hbs" linkText="Войти" }}
    </main>
  {{/content}}
{{/extend}}