---
title: "Регистрация"
stylesheet: '../styles/main.scss'
fields: [
  {
    label: "Имя",
    name: "first_name"
  },
  {
    label: "Фамилия",
    name: "second_name"
  },
  {
    label: "Логин",
    name: "login"
  },
  {
    label: "Почта",
    name: "email",
    type: "email"
  },
  {
    label: "Телефон",
    name: "phone",
    type: "tel"
  },
  {
    label: "Пароль",
    name: "password",
    type: "password"
  },
  {
    label: "Пароль (ещё раз)",
    name: "repeatPassword",
    type: "password"
  },
]
---

{{#extend "page"}}
  {{#content "main"}}
    <main class="layout">
      <div class="card">
        <h2 class="card__title">Регистрация</h2>
        <div class="card__fields">
          {{#each fields}}
            {{> input this }}
          {{/each}}
        </div>
        {{> button text="Зарегистрироваться" class="card__btn" }}
        <a href="./auth.hbs" class="link card__link">Войти</a>
      </div>
    </main>
  {{/content}}
{{/extend}}