.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: $c-white;
  background-color: $c-primary;
  padding: spacing(3) spacing(10);
  border-radius: 8px;
  transition: background-color $transition;

  &:hover {
    background-color: lighten($c-primary, 4%);
  }
}
