.card-wrapper {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.card {
  padding: 30px;
  padding-top: 50px;
  width: 340px;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgba($c-black, 0.14);
  min-height: 450px;
  display: flex;
  flex-direction: column;

  &__title {
    align-self: center;
    margin-bottom: spacing(10);
  }

  &__fields {
    margin-bottom: spacing(15);
  }

  &__btn {
    margin-top: auto;
  }

  &__link {
    font-size: 11px;
    align-self: center;
    padding: spacing(1);
    margin-top: spacing(3);
  }
}
