<div class="develop layout layout--column">
  <img alt="develop" src="../static/develop.svg" />
  <h2 class="develop__description">Раздел находится в разработке</h2>
  <a href="../index.hbs" class="link">Вернуться на главную</a>
</div>