<div class="error">
  <div class="error__status">{{ status }}</div>
  <h2 class="error__description">{{ description }}</h2>
  {{> button class="error__btn" text="Назад к чатам" href="./chats.hbs" }}
</div>