---
title: "Главная страница"
stylesheet: './styles/main.scss'
---

{{#extend "page"}}
  {{#content "main"}}
    <main>
      <nav class="pages-list">
        <a href="./pages/auth.hbs">Страница авторизации</a>
        <a href="./pages/registration.hbs">Страница регистрации</a>
        <a href="./pages/500.hbs">Страница ошибки 500</a>
        <a href="./pages/404.hbs">Страница ошибки 404</a>
        <a href="./pages/chats.hbs">Страница чатов</a>
        <a href="./pages/profile.hbs">Страница профиля</a>
        <a href="./pages/profile-edit.hbs">Страница редактирования профиля</a>
        <a href="./pages/profile-change-password.hbs">Страница изменения пароля</a>
      </nav>
    </main>
  {{/content}}
{{/extend}}
